.animation0 {
    animation: name0 1.5s linear infinite forwards;
    animation-delay: 0.2s;
}

.animation1 {
    animation: name1 1.5s linear infinite forwards;
    animation-delay: 0.3s;
}

.animation2 {
    animation: name2 1.5s linear infinite forwards;
    animation-delay: 0.1.5s;
}

.animation3 {
    animation: name3 1.5s linear infinite forwards;
}

.animation4 {
    animation: name4 1.5s linear infinite forwards;
}

@keyframes name0 {
    0% {
        width: 100%;
    }

    50% {
        width: 45%;
    }

    100% {
        width: 100%;
    }
}

@keyframes name1 {
    0% {
        width: 100%;
    }

    50% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}


@keyframes name2 {
    0% {
        width: 100%;
    }

    50% {
        width: 65%;
    }

    100% {
        width: 100%;
    }
}

@keyframes name3 {
    0% {
        width: 100%;
    }

    50% {
        width: 55%;
    }

    100% {
        width: 100%;
    }
}

@keyframes name4 {
    0% {
        width: 100%;
    }

    50% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}