$icons: (
    'heart': '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_6_52)"><rect width="2" height="2" transform="translate(2 2)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(4 2)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(8 2)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(10 2)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(0 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(2 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(4 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(6 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(8 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(10 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(12 4)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(0 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(2 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(4 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(6 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(8 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(10 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(12 6)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(0 8)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(2 8)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(4 8)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(6 8)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(8 8)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(10 8)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(12 8)" fill="%23DA2E2E"/><rect width="2" height="2" transform="translate(2 10)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(4 10)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(6 10)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(8 10)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(10 10)" fill="%23DA2E2E"/><rect width="2" height="2" transform="translate(4 12)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(6 12)" fill="%23FF6A6A"/><rect width="2" height="2" transform="translate(8 12)" fill="%23DA2E2E"/><rect width="2" height="2" transform="translate(6 14)" fill="%23DA2E2E"/></g><defs><clipPath id="clip0_6_52"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>',

    'search' : '<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.7812 13.6289L10.1172 9.96484C10.9102 9.00781 11.3477 7.77734 11.3477 6.4375C11.3477 3.32031 8.77734 0.75 5.66016 0.75C2.51562 0.75 0 3.32031 0 6.4375C0 9.58203 2.54297 12.125 5.66016 12.125C6.97266 12.125 8.20312 11.6875 9.1875 10.8945L12.8516 14.5586C12.9883 14.6953 13.1523 14.75 13.3438 14.75C13.5078 14.75 13.6719 14.6953 13.7812 14.5586C14.0547 14.3125 14.0547 13.9023 13.7812 13.6289ZM1.3125 6.4375C1.3125 4.03125 3.25391 2.0625 5.6875 2.0625C8.09375 2.0625 10.0625 4.03125 10.0625 6.4375C10.0625 8.87109 8.09375 10.8125 5.6875 10.8125C3.25391 10.8125 1.3125 8.87109 1.3125 6.4375Z" fill="%23303439"/></svg>',
    
    'smile' : '<svg width="112" height="112" viewBox="0 0 112 112" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="16" y="16" width="16" height="16" fill="%231E1E1E"/> <rect x="96" y="16" width="16" height="16" fill="%231E1E1E"/> <rect y="16" width="16" height="16" fill="%231E1E1E"/> <rect x="80" y="16" width="16" height="16" fill="%231E1E1E"/> <rect x="16" width="16" height="16" fill="%231E1E1E"/> <rect x="96" width="16" height="16" fill="%231E1E1E"/> <rect y="64" width="16" height="16" fill="%231E1E1E"/> <rect x="16" y="80" width="16" height="16" fill="%231E1E1E"/> <rect x="32" y="96" width="16" height="16" fill="%231E1E1E"/> <rect x="48" y="96" width="16" height="16" fill="%231E1E1E"/> <rect x="64" y="96" width="16" height="16" fill="%231E1E1E"/> <rect x="80" y="80" width="16" height="16" fill="%231E1E1E"/> <rect x="96" y="64" width="16" height="16" fill="%231E1E1E"/> <rect width="16" height="16" fill="%231E1E1E"/> <rect x="80" width="16" height="16" fill="%231E1E1E"/> </svg>',

    'icon-home-1' : '<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M50 5H20V10H10V20H5V50H10V60H20V65H50V60H60V50H65V20H60V10H50V5Z" fill="white"/> <path d="M20 45H25V50H20V45Z" fill="black"/> <path d="M50 45H45V50H50V45Z" fill="black"/> <path d="M20 20H25V25H20V20Z" fill="black"/> <path d="M50 20H45V25H50V20Z" fill="black"/> <path d="M25 25H30V30H25V25Z" fill="black"/> <path d="M45 25H40V30H45V25Z" fill="black"/> <path d="M15 25H20V30H15V25Z" fill="black"/> <path d="M55 25H50V30H55V25Z" fill="black"/> <path d="M20 65V70H50V65H20Z" fill="black"/> <path d="M45 55V50H25V55H45Z" fill="black"/> <path d="M10 60V65H20V60H10Z" fill="black"/> <path d="M10 50H5V60H10V50Z" fill="black"/> <path d="M0 50H5V20H0V50Z" fill="black"/> <path d="M5 20H10V10H5L5 20Z" fill="black"/> <path d="M10 5V10H20V5H10Z" fill="black"/> <path d="M20 0V5H50V0H20Z" fill="black"/> <path d="M60 10V5H50V10H60Z" fill="black"/> <path d="M60 20H65V10H60V20Z" fill="black"/> <path d="M65 50H70V20H65V50Z" fill="black"/> <path d="M65 50H60V60H65V50Z" fill="black"/> <path d="M60 65V60H50V65H60Z" fill="black"/> </svg>',
    
    'icon-home-2' : '<svg width="79" height="69" viewBox="0 0 79 69" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29.75 5.25H34.625V10.125H29.75V5.25Z" fill="black"/> <path d="M49.25 5.25H44.375V10.125H49.25V5.25Z" fill="black"/> <path d="M10.25 5.25H15.125V10.125H10.25V5.25Z" fill="black"/> <path d="M68.75 5.25H63.875V10.125H68.75V5.25Z" fill="black"/> <path d="M5.375 10.125H10.25V15H5.375V10.125Z" fill="black"/> <path d="M73.625 10.125H68.75V15H73.625V10.125Z" fill="black"/> <path d="M5.375 34.5H10.25V39.375H5.375V34.5Z" fill="black"/> <path d="M73.625 34.5H68.75V39.375H73.625V34.5Z" fill="black"/> <path d="M24.875 54H29.75V58.875H24.875V54Z" fill="black"/> <path d="M54.125 54H49.25V58.875H54.125V54Z" fill="black"/> <path d="M29.75 58.875H34.625V63.75H29.75V58.875Z" fill="black"/> <path d="M49.25 58.875H44.375V63.75H49.25V58.875Z" fill="black"/> <path d="M20 49.125H24.875V54H20V49.125Z" fill="black"/> <path d="M59 49.125H54.125V54H59V49.125Z" fill="black"/> <path d="M15.125 44.25H20V49.125H15.125V44.25Z" fill="black"/> <path d="M63.875 44.25H59V49.125H63.875V44.25Z" fill="black"/> <path d="M10.25 39.375H15.125V44.25H10.25V39.375Z" fill="black"/> <path d="M68.75 39.375H63.875V44.25H68.75V39.375Z" fill="black"/> <path d="M15.125 0.375V5.25H29.75V0.375H15.125Z" fill="black"/> <path d="M63.875 5.25V0.375H49.25V5.25H63.875Z" fill="black"/> <path d="M73.625 34.5H78.5V15H73.625V34.5Z" fill="black"/> <path d="M0.5 34.5H5.375V15H0.5V34.5Z" fill="black"/> <path d="M34.625 63.75V68.625H44.375V63.75H34.625Z" fill="black"/> <path d="M34.625 10.125V15H44.375V10.125H34.625Z" fill="black"/> <path d="M44.375 63.75H34.625V58.875H29.75V54H24.875V49.125H20V44.25H15.125V39.375H10.25V34.5H5.375V15H10.25V10.125H15.125V5.25003H29.75V10.125H34.625V15H44.375V10.125H49.25V5.25003H63.875V10.125H68.75V15H73.625V34.5H68.75V39.375H63.875V44.25H59V49.125H54.125V54H49.25V58.875H44.375V63.75Z" fill="white"/> </svg>',
    
    'icon-home-3' : '<svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M28.5 4.75H19V9.5H14.25V14.25H9.5V23.75H4.75V47.5H9.5V57H14.25V61.75H19V66.5H23.75V71.25H52.25V66.5H61.75V61.75H66.5V57H71.25V47.5H66.5V52.25H52.25V57H38V52.25H28.5V47.5H23.75V38H19V23.75H23.75V9.5H28.5V4.75Z" fill="white"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M19 0H33.25V9.5H28.5V23.75H23.75V38H28.5V47.5H38V52.25H52.25V47.5H66.5V42.75H76V57H71.25V61.75H66.5V66.5H61.75V71.25H52.25V76H23.75V71.25H19V66.5H14.25V61.75H9.5V57H4.75V47.5H0V23.75H4.75V14.25H9.5V9.5H14.25V4.75H19V0ZM19 4.75V9.5H14.25V14.25H9.5V23.75H4.75V47.5H9.5V57H14.25V61.75H19V66.5H23.75V71.25H52.25V66.5H61.75V61.75H66.5V57H71.25V47.5H66.5V52.25H52.25V57H38V52.25H28.5V47.5H23.75V38H19V23.75H23.75V9.5H28.5V4.75H19Z" fill="black"/> </svg>',
    
    'icon-home-4' : '<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.5 15V10H1.5V8H0.5V4H1.5V2H3.5V1H7.5L7.49805 1.88611L9.5 2V4H10.5V8H9.5V10H8.5V15H2.5Z" fill="white"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0H4.0004V1H2V2H1V4H0V8H1V10H2V14.9952H3V15.9952L8 16V15H9V10H10V8H11V4H10V2H9V1H7V0ZM7 1V2H9V4H10V8H9V10H8L8.0004 11L6.00067 10.9959V5H7V3.99524L4 4V5H5V10.9959L3 11V10H2V8H1V4H2V2H4.0004V1H7ZM8 15L3 14.9952V13.9952H8.0004L8 15ZM3 12.9952V12H8L8.0004 12.9952H3Z" fill="black"/> </svg>',
    );
    
$data-svg-prefix: 'data:image/svg+xml;utf-8,';

.icon {
    appearance: none;
    border: 0;
    border-radius: 100em;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding: 0.5em calc(.1em + 2px) 0.5em 1.8em;
    position: relative;
    transition: background-color 200ms ease-in-out;

    &::after {
        background: center / 20px 20px no-repeat;
        border-radius: 100em;
        bottom: 0;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        width: 28px;
        transition: .3s;
    }
}

.icon-home-1 {
    background-image: url( $data-svg-prefix + map-get( $icons, 'icon-home-1' ) );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 70px;
    height: 70px;
}

.icon-home-2 {
    background-image: url( $data-svg-prefix + map-get( $icons, 'icon-home-2' ) );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 78px;
    height: 69px;
}

.icon-home-3 {
    background-image: url( $data-svg-prefix + map-get( $icons, 'icon-home-3' ) );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 76px;
    height: 76px;
}

.icon-home-4 {
    background-image: url( $data-svg-prefix + map-get( $icons, 'icon-home-4' ) );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 120px;
}

.icon--heart {
    background-image: url( $data-svg-prefix + map-get( $icons, 'heart' ) );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 16px;
    height: 16px;
}

.icon--user-side-bar {
    background-image: url( $data-svg-prefix + map-get( $icons, 'user-side-bar' ) );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 14px;
    height: 24px;
}