

.header__container {
    padding: 24px 48px;

    .header-action {
        // width: 200px;
        border-radius: 12px;
        padding: 8px 1em;
        border: 1px solid #fff;
    }

    .header-nav {
        left: 1400px;
    }
}